html {
    background-color: rgb(255, 255, 168)
}
#congratulations {
    display: inline-block;
   }
img {
    position:relative;
    top: 30px;
    float: left;
    height: 450px
}
#actcon {
font-size: 4rem;
text-align: center;
color: rgb(154, 31, 56);

}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color:black;
}